*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.backimage{
    width: 100%;
    height:60rem;
    background-position: center;
    object-fit: cover;
    background-repeat: no-repeat;

}
.profileLearn{
    background-image: url("../assets/images/kk.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 40rem;

}

