*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
    font-weight: 400;
}
.home-container{
    background-image: url("../assets/images/inganzo.JPG") ;
    height:100vh;
    background-position:center center;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    
    animation-name:animate ;
   animation-duration:25s ;
   animation-direction: alternate-reverse ;
   animation-fill-mode: forwards;
   animation-timing-function: ease-in-out ;
   animation-play-state:running ;
   animation-iteration-count: infinite ;
   
}

@keyframes animate{
      0%{ background-image: url(../assets/images/umuco1.jpg);}

      30%{ background-image: url(../assets/images/ibiseke2.jpg);}

60%{ background-image: url(../assets/images/inganzo.JPG);
}

80%{ background-image: url(../assets/images/inganzo1.jpg);
}

100%{ background-image: url(../assets/images/amasunzu.JPG);
} 


}
.explore{
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 18px;
}
.center{
    width: 100%;
    display:center;
    align-items:center;
    justify-content:center;
}

.heading-title{
    color: white;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-style: italic;
    padding-top: 50px;
    background-color: #00000085;
  
}


.intro-image.with-box-shadow img {
    box-shadow: -12px 12px #0a2336;
}


.tag{
    font-size: 24px;
    color: rgb(11, 123, 183);
    rotate:calc(270deg);
}
.site-card-wrapper{
    padding: 30% 4rem;
    display: flex;
    gap:2rem;
     align-items: center;
     justify-content:center;
}
.site-card p{
    font-weight: 400;
}
.site-card {
    box-shadow: 50px;
    background-color:#eeee; 
  }
.amasunzuImg{
   width: 380px;
   float: right;
   height: 280px;
   
}
.ContainerCard{
    display: flex;
    font-weight: 500;
    font-size: 15px;
    gap:3rem;
    padding: 4rem;
}
.ContainerCard h2{
    color: rgb(11, 123, 183);
}
.ContainerCard::after::before{
    box-shadow: #154c79;
}
.ImgCard{
    width: 380px;
    float: left;
    height: 260px;
 }

 .logo{
    background-image: url("../assets/images/igiseke.JPG");
 }

 .learn-Profile{

    display: flex;
    justify-content: center;
    font-size: 36px;
    
 }
 ul{
    display: flex;
    text-align: center;
    margin: 0 40px;
    list-style: none;
 }
 li{
   padding-left: 50px;
 }
 hr{
    width: 45px;
    height: 3px;
    background-color: gray;
 }
 .Dashboard{
     width: 60%;
    margin: auto;
 }
.knowMore{
    background-color: #000000;
    flex: 1;
    border-radius: 0.5rem;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: #ffffff;
    font-size: 1.6rem;
    line-height: 1.75rem;
    width: 30%;
    margin-left:40%;
    margin-bottom: 20px;
}
.knowMore ul{
    flex: 1;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 1rem;
    list-style-type: none;
    
}
.knowMore li{
    padding-left: 0rem;
    gap: 1.4em;
}
.knowMore h5{
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 2rem;
}
#newsletter-container {
    background-color: #154c79;
    padding: 3rem 0;
    height: 180px;
}

.container{
    width: 540px;
    margin-right: auto;
    margin-left: auto;
    background-color: transparent;
}

#newsletter-container h3 {
    margin: 0;
    font-size: 1.95rem;
    font-weight: bold;
    color: #000000;
}

#newsletter-container h4 {
    font-size: 1.45rem;
    color: #333;
}
#newsletter-container form i {
    margin-left: 0.75rem;
    margin-right: 0.1rem;
    font-size: 1.85rem;
 
}
#newsletter-container form input[type="email"] {
    box-shadow: none;
    border: none;
    font-size: 1.35rem;
}

.form-control {
    display: block;
    width: 100%;
    padding: 0.575rem 0.75rem;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    
}

#newsletter-container form button {
    background-color: #000;
    font-size: 1.5erem;
    border-color: #000;
    padding: 0.65rem 1.65rem;
    cursor: pointer;
    position: relative;
    top: -32px;
    border: none;
}

.btn {
   
    font-weight: 400;
    line-height: 1.5;
    color: grey;
    text-align: center;
    text-decoration: none;
    border: 1px solid transparent;
    padding: 0.38rem 0.75rem;
    font-size: 1.25rem;
    border-radius: 0.25rem;
}