*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.logo-img{
    width: 100px;
    /* height: 10; */
}
.container{
    display: flex;
    background: #777;
    height: 70px;
}
ul{
    display: flex;
    text-align: center;
    margin-left: 30%;
    list-style-type: none;
    gap: 3rem;
    
}
.nav-links{
    text-align: center;
    text-decoration: none;
    gap: 1.5rem;
    list-style-type: none;
    float: right;

}
.nav-links:link,.nav-links:visited{
    text-decoration: none;
}
.nav-link{
    /* color: blue; */
    padding: 15px;
    gap: 2rem;
    justify-content: space-between;
    font-size: 30px;
    
}
.nav-link:link,.nav-link:visited{
    text-decoration: none;
    font-size: 100%;
    display: flex;
}
.btn{
    float: right;
    /* margin-left: 8rem; */
    gap: 5rem;
 font-size: 1rem;
 padding: 5px;
 border-radius: 15px;
 color: blue;
}
.content{
    margin-left: 8rem;
    gap: 5rem;
}
.backimage{
    object-fit: cover;
    background-repeat: no-repeat;
}