*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;

}
.footer-content{
     padding: 1rem 4rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background: black;
    grid-template-columns: repeat(5, 1fr);

}
p span{
    display: block;
}
.footer-title{
    font-size: 2.4rem;
    color: white;
}
.icons{
    display: flex;
    gap: 2rem;
    padding: 2rem 0;
    color: white;
    font-size: 2rem;
}
.copyright, .contctus-column{
    color: white;
    font-size:1.8rem ;
}
.home-container a:hover,
.home-container a:active{
    color: white;
}
.acount-column{
    color:white;
}

