*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.body{
   font-family: 'Roboto',sans-serif;
   font-weight: 400;
}

.nav{
    display: flex;
    background:whitesmoke;
    height: 80px;
    width: 100%;
    font-size: 14px;
    font-weight: 500;
    box-shadow:0 0 1.2rem 3.2rem rgb(0 0 0 / 3%);
    z-index: 555;
    justify-content: space-between;
}
.logo-img {
    /* padding: 20px; */
   margin-left: 80px;
   height: 7rem;
   /* margin-top: 20px; */
   border-radius: 50%;
}
.Nav-links{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    /* justify-content: center; */
    /* margin: 40px ; */
    transition: all .3s;
    cursor: pointer;
}
.Nav-link:link,
.Nav-link:visited{
    color:black;

}
.Nav-link:hover,
.Nav-link:active{
    color: darkgoldenrod;
}
.link-green:link,
.link-green:visited{
    color: darkgoldenrod;
}
.link-green:hover,
.link-green:active{
    color:black;
}
.btn-link:link,
.btn-link:visited{
    background:darkgoldenrod;
    box-shadow: 10px 10px 10px black;
    border-radius: 0.2rem;
}
.btn-link:link,
.btn-link:active{
    color:black;
}

.JoinBtn{
    font-size: 18px;
    background-color:#154c79;
    font-weight: 500;
    padding:30px;
    color: white;
  border: none;
    align-items: center;
    display: flex;
    margin-top: 10px;
}

